<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cjs2108.dao.MemberDAO">
	<select id="getMemberVO" resultType="com.spring.cjs2108.vo.MemberVO">
		select * from member where mid = #{mid}; 
	</select>
	
	<select id="getMemberVos" resultType="com.spring.cjs2108.vo.MemberVO">
		select * from member where mid like concat('%',#{mid},'%'); 
	</select>

	<select id="getIdCheck" resultType="com.spring.cjs2108.vo.MemberVO">
		select * from member2 where mid = #{mid};
	</select>
	
	<select id="getNickNameCheck" resultType="com.spring.cjs2108.vo.MemberVO">
		select * from member2 where nickName = #{nickName};
	</select>
	
	<select id="getGuestWriteCnt" resultType="int">
		select count(*) from guest where name like concat('%',#{mid},'%') or name like concat('%',#{nickName},'%') or name like concat('%',#{name},'%');
	</select>
	
	<select id="getBoardWriteCnt" resultType="int">
		select count(*) from board where mid = #{mid};
	</select>
	
	<select id="getPdsWriteCnt" resultType="int">
		select count(*) from pds where mid = #{mid};
	</select>
	
	<select id="getPwdConfirm" resultType="com.spring.cjs2108.vo.MemberVO">
		select * from member2 where mid = #{mid} and email = #{toMail};
	</select>
	
	<!-- 아래 getIdConfirm은 여기서 사용하지는 않았음... -->
	<!-- 
	<select id="getIdConfirm" resultType="com.spring.cjs2108.vo.MemberVO">
		select * from member2 where email = #{toMail} limit 1;
	</select>
	 -->
	
	<select id="getIdConfirm" resultType="com.spring.cjs2108.vo.MemberVO">
		select * from member2 where email = #{toMail};
	</select>
	
	<insert id="setMemInput">
		insert into member2 values (default,#{vo.mid},#{vo.pwd},#{vo.nickName},#{vo.name},#{vo.gender},#{vo.birthday},#{vo.tel},#{vo.address},#{vo.email},#{vo.homePage},#{vo.job},#{vo.hobby},#{vo.photo},#{vo.content},default,default,default,default,default,default,default,default);
	</insert>
	
	<update id="setLastDateUpdate">
	  update member2 set point=point+#{newPoint}, todayCnt=#{todayCnt}, visitCnt=visitCnt+1, lastDate=now() where mid=#{mid};
	</update>
	
	<update id="setMemUpdate">
		update member2 set pwd=#{vo.pwd},nickName=#{vo.nickName},name=#{vo.name},gender=#{vo.gender},birthday=#{vo.birthday},tel=#{vo.tel},address=#{vo.address},email=#{vo.email},homePage=#{vo.homePage},job=#{vo.job},hobby=#{vo.hobby},photo=#{vo.photo},content=#{vo.content},userInfor=#{vo.userInfor} where mid=#{vo.mid};
	</update>
	
	<update id="setMemDelete">
		update member2 set userDel = 'OK' where mid = #{mid};
	</update>
	
	<update id="setPwdChange">
	  update member2 set pwd = #{pwd} where mid = #{mid};
	</update>
	
</mapper>